.painting-on-wall-container{
    display:  flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.picture-display-container{
    /* margin-left:auto auto; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

}

  /* .display-picture{
 
  
   align-content: center;
   
   } */
   /* .img-box{
    padding: 20px;
 
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    justify-items: center;


    
   } */
   
   .img-box img{
    width: 300px;
    height: 300px;
   
}

   
   .circle_middle{
     height: 60px;
     width: 60px;
     border-radius: 50%;
  
     position: relative;
     background-image: linear-gradient(to bottom, rgb(208, 215, 214), rgb(80, 84, 82));
   
   }
   
   .circle_small {
     height: 35px;
     width: 35px;
     border-radius: 50%;
     background: #ddd;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     border: 0;
     background: hwb(185 3% 56%);
     cursor: pointer;
     transition: all 0.2s ease;
     transform: scale(1);
     animation: pulsetransition 3s infinite;
     font-weight: 700;
     font-size: 20px;
     color: #ffff;
   }
   .circle_big{
     position: absolute;
     top: 90%;
     left: 37%;
     background:#fff;
     border: 5px solid #fff;
     border-radius: 50px;
    
   }
   .circle_small:hover{
     border: 3px solid white;
     }

     @keyframes pulsetransition{
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(14, 191, 164, 0.7);
      }
    
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 12.5px rgba(56, 172, 149, 1);
      }
    
      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(12, 162, 140, 1);
      }
    }


  

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

}

.title {
  color: grey;
  font-size: 18px;
  text-align: center;
}
.contact-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}


.social-media {
  /* display:inline-block; */
  text-decoration: none;
  font-size: 22px;
  color: black;

}
button:hover, a:hover {
  opacity: 0.7;
}