

.product-container{
    margin-left:auto auto;

    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

}

.product{
    padding: 20px;
    border: 4px solid rgb(239, 198, 64);
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.product img{
    width: 200px;
    height: 200px;
}
.button-container{
    margin-bottom: 20rem;
    text-align: center;
    
}
.load_button{
    padding:10px;
    border-radius: 5px;
    border: 2px solid rgb(118, 23, 219);
    background-image: linear-gradient(to bottom, rgb(44, 146, 125), rgb(22, 196, 109));
    font-weight: 600;
 


}

.load_button:hover:enabled {
    background: #0b15cc;
    background-image: linear-gradient(to bottom, rgb(102, 75, 225), rgb(94, 12, 145));
    text-decoration: none;
    color: blanchedalmond;
  }
.load_button:focus {
    outline-color: transparent;
    outline-style:solid;
    /* box-shadow: 0 0 0 4px #5a01a7; */
    /* transition: 0.7s;
    transform: scale(1.5); */
    /* background: rgb(150, 150, 150);
    background-image: linear-gradient(to bottom, rgb(75, 225, 153), rgb(48, 213, 207));
    text-decoration: none; */
  }
  .load_button:disabled {
    color: rgb(218, 22, 22);
    border: 1px solid black;
    background-color: rgb(221, 214, 214);
    color: white;
    padding: 15px;
    cursor: not-allowed;
  }

  /* Media queries for different screen sizes */
/* Media queries for mobile screen sizes */
@media (max-width: 600px) {
    .product {
      width: calc(100% - 10px); /* Full width minus margin */
      height: calc(100% - 10px); /* Make it a square */
    }
  
    .product img {
      height: calc(100% - 40px); /* Height minus padding and text height */
    padding: 4px 4px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
   
    }
    .product p {
        top: 50%; /* Position text in the middle */
        transform: translateY(-50%); /* Offset the text by half its height to truly center it */
        text-align: center;
    }
  }
  

  
  